spring:
  application:
    name: omin
  datasource:
    #host: localhost, 포트: 5432, DB명: omindb
    url: jdbc:postgresql://localhost:5432/omindb
    username: omin_user
    password: ${DB_PASSWORD}
    driver-class-name: org.postgresql.Driver

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        format_sql: true